<!DOCTYPE html>
<html>
<head>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        .email-container {
            max-width: 600px;
            margin: auto;
            background: #ffffff;
            padding: 20px;
        }
        .email-header {
            background: #ffffff;
            padding: 10px 20px;
            text-align: center;
            border-bottom: 2px solid #eeeeee;
        }
        .email-body {
            padding: 20px;
            text-align: left;
            line-height: 1.5;
        }
        .email-footer {
            background: #ffffff;
            padding: 10px 20px;
            text-align: center;
            font-size: 12px;
        }
        .button {
            display: inline-block;
            padding: 10px 20px;
            margin: 10px 0;
            background-color: #22b14c;
            color: white;
            text-decoration: none;
            border-radius: 5px;
        }

        /* Styles responsifs */
        @media screen and (max-width: 600px) {
            .email-container {
                padding: 10px;
            }
            .email-header {
                padding: 5px 10px;
            }
            .email-body {
                padding: 10px;
            }
            .button {
                padding: 8px 16px;
                font-size: 14px;
            }
        }
    </style>
</head>
<body>
<div class="email-container">
    <div class="email-body">
        <p>Cher {{name}},</p>
        <p>Nous sommes ravis de vous accueillir chez Adapto'diet ! Pour finaliser votre inscription et activer votre compte, veuillez cliquer sur le lien de confirmation ci-dessous :</p>
        <p><a href="{{confirmationLink}}" class="button">Confirmez votre adresse e-mail</a></p>
        <p>Ce lien de confirmation restera valide pendant 24 heures. Après confirmation, vous aurez un accès complet à votre nouveau compte et pourrez commencer à profiter de nos services.</p>
        <p>Si vous rencontrez des problèmes pour cliquer sur le lien, vous pouvez également copier et coller l'URL suivante dans votre navigateur :</p>
        <p><a href="{{confirmationLink}}">{{confirmationLink}}</a></p>
        <p>Nous vous remercions de rejoindre Adapto'diet et nous sommes impatients de vous servir.</p>
    </div>
    <div class="email-footer">
        Cordialement,<br>
        L'équipe d'Adapto'diet
    </div>
</div>
</body>
</html>
